<div style="padding: 18px 18px 18px 18px;">
	
		
		<% if(reviews.length == 0) { %>
			<div class="alert alert-warning">There are no reviews for this
				trail. Be the first one to leave a review and score 2 points.</div>
		<% } else { %>
		  <% reviews.forEach(function (model){ %>
		  <div class="panel panel-default">
            <div class="panel-body" id="trailTabReviewBody">
		  
			      <div class="media">
			         <span class="pull-left"><i class="fa fa-user fa-5x thumbnail"></i>
			             <br />
			             <% if(model.get('can_edit_review') == 1) { %>
			             <button class="btn btn-primary btn-sm" data-id="<%= model.get('review_id') %>" id="editReviewBtn">Edit</button>
			             <% } %>
			         </span>
			          <div class="media-body">
			               <p class="media-heading">
			                 <span class="lead"><%= model.get('account_name') %></span>
			                 <span class="pull-right "><%= model.get('review_rate') %></span>
			                 <br />
			                 <span class="text-muted small">12 Completed  <i class="fa fa-comment-o"></i> 15 Reviews
	                           <span class="pull-right"><%= model.get('review_date') %></span>
	                         </span>
	                       </p>
	                       <div style="border-top: 1px solid; padding-top:8px">
	                          <p><%= model.get('review_text') %></p>      
	                       </div>
			          </div>
			      </div>
		      </div>
        </div>
		      
		  <% }) %>
		<% } %>	
		
</div>

<!-- WriteReviewModal -->
<div class="modal fade " id="WriteReviewModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-comment-o fa-fw"></i> Write A Review About <%= trailName %></h4>
            </div>
            <div class="modal-body">
            <form class="form-horizontal" role="form" id="trailReviewFrm">
                <div class="form-group">
                    <label for="trail_review_rate" class="col-sm-3 control-label">Rating</label> 
                    <div class="col-sm-9">
                        <input type="radio" name="review_rate" id="review_rate" value="1"> 
                        <input type="radio" name="review_rate" id="review_rate" value="2"> 
                        <input type="radio" name="review_rate" id="review_rate" value="3">
                        <input type="radio" name="review_rate" id="review_rate" value="4">
                        <input type="radio" name="review_rate" id="review_rate" value="5">   
                  </div>   
            </div>
            <div class="form-group">
                        <label for="trail_overview" class="col-sm-3 control-label">Your Review</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" id="review_text"></textarea>
                        </div>
                  </div>
                 
                  <div class="form-group">
                      <label for="trail_season" class="col-sm-3 control-label">Date</label>
                      <div class="col-sm-4">
                            <input type="text" class="form-control" id="review_date" 
                                data-toggle="date-picker"
                            value="">
                      </div>
                  </div>
                  <input type="hidden" id="review_id" />
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveTrailReviewBtn">Save</button>
            </div>
        </div>
    </div>
</div>
