<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#trailReviewsTab" data-toggle="tab" id=""><strong>Reviews</strong></a></li>
		<li><a href="#tracks" data-toggle="tab"><strong>Tracks</strong></a></li>
		<li><a href="#notes" data-toggle="tab"><strong>Notes</strong></a></li>
		<li><a href="#event" data-toggle="tab"><strong>Events</strong></a></li>
		<li><a href="#resource" data-toggle="tab"><strong>Resources</strong></a></li>
	</ul>


	<div class="tab-content">

		<!-- Reviews -->
		<div class="tab-pane fade in active" id="trailReviewsTab"></div>

		<!-- Tracks Tab -->
		<div class="tab-pane fade" id="tracks">
			<div style="padding: 18px 18px 18px 18px;">
				<div class="panel panel-default" id="trailTabTrackBody">
					<div class="panel-body">
						<div class="alert alert-warning">There are no tracks for
							this trail.</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Notes -->
		<div class="tab-pane fade" id="notes">
			<div style="padding: 18px 18px 18px 18px;">
				<div class="panel panel-default">
					<div class="panel-body" id="trailTabNotesBody">
						<div class="alert alert-warning">There are no notes for this
							trail.</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Events Tab -->
		<div class="tab-pane fade" id="event">
			<div style="padding: 18px 18px 18px 18px;">
				<div class="panel panel-default">
					<div class="panel-body" id="trailTabEventsBody">
						<div class="alert alert-warning">There are no events for
							this trail.</div>

					</div>
				</div>
			</div>
		</div>


		<div class="tab-pane fade" id="resource">
			<div style="padding: 18px 18px 18px 18px;">
				<div class="panel panel-default">
					<div class="panel-body" id="trailTabResourcesBody">
					   <div class="alert alert-warning">There are no resources for
                            this trail.</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>