<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" method="post" action="/trail/index/index/">
            <div class="form-group">
                <label for="trail_name">Member Name</label> <input type="text"
                    class="form-control" name="member_name" id="member_name"
                    memberholder="" value="">
            </div>
            
            <div class="form-group">
                <button  class="btn btn-primary">
                    <strong>Search</strong>
                </button>
            </div>
        </form>
    </div>
</div>
