<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#profile" data-toggle="tab"><strong>Profile</strong></a></li>
		<li><a href="#completed" data-toggle="tab"><strong>Completed</strong></a></li>
		<li><a href="#reviews" data-toggle="tab"><strong>Reviews</strong></a></li>
		<li><a href="#events" data-toggle="tab"><strong>Events</strong></a></li>
		<li><a href="#photos" data-toggle="tab"><strong>Photos</strong></a></li>
	</ul>


	<div class="tab-content">
		<!-- profile -->
		<div class="tab-pane fade in active" id="profile">
			<div style="padding: 18px 18px 18px 18px;">
				<div class="panel panel-default">
					<div class="panel-body" id="memberTabProfileBody"></div>
				</div>
			</div>
		</div>
		
		<!-- Completed Tab -->
        <div class="tab-pane fade" id="completed">
            <div style="padding: 18px 18px 18px 18px;">
                <div class="panel panel-default" id="memberTabCompletedBody">
                    <div class="panel-body">
                        <div class="alert alert-warning">There are no completed trails for
                            this member.</div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Reviews Tab -->
        <div class="tab-pane fade" id="reviews">
            <div style="padding: 18px 18px 18px 18px;">
                <div class="panel panel-default" id="memberTabReviewsBody">
                    <div class="panel-body">
                        <div class="alert alert-warning">There are no reviews for
                            this member.</div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Events Tab -->
        <div class="tab-pane fade" id="events">
            <div style="padding: 18px 18px 18px 18px;">
                <div class="panel panel-default" id="memberTabEventsBody">
                    <div class="panel-body">
                        <div class="alert alert-warning">There are no events for
                            this member.</div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Photos Tab -->
        <div class="tab-pane fade" id="photos">
            <div style="padding: 18px 18px 18px 18px;">
                <div class="panel panel-default" id="memberTabPhotosBody">
                    <div class="panel-body">
                        <div class="alert alert-warning">There are no photos for
                            this member.</div>
                    </div>
                </div>
            </div>
        </div>
        
        
	</div>
</div>