<div class="well well-sm">
	<div class="btn-group">
		<button type="button" class="btn btn-default" id="createForestBtn">Add Forest</button>
	</div>
</div>
<table class="table table-striped table-bordered">
	<thead>
		<tr class="warning">
			<th>Id</th>
			<th>Name</th>
			<th>Slug</th>
			<th>Created</th>
			<th>Created By</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
    <% forests.forEach(function (model){ %>
        <tr>
            <td><%= model.get('forest_id') %></td>
            <td><%= model.get('forest_name') %></td>
            <td><a href="#forests/<%= model.get('forest_slug') %>"><%= model.get('forest_slug') %></a></td>
            <td><%= model.get('forest_create_date') %></td>
            <td><%= model.get('forest_create_by') %></td>
            <td class="text-right">
                <button class="btn btn-warning btn-sm" 
                        data-id="<%= model.get('forest_slug') %>" 
                        id="editForestBtn"><span class="glyphicon glyphicon-pencil"></span></button> 
                    <button class="btn btn-danger btn-sm" 
                        data-id="<%= model.get('forest_slug') %>" 
                        id="deleteForestBtn"> <span class="glyphicon glyphicon-remove-circle"></span></button>
            </td>
        </tr>
    <% }) %>
	</tbody>
</table>

<div class="modal fade " id="addForestModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Forest</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="forest_name" class="col-sm-3 control-label">Forest Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="forest_name" value="">
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label for="forest_street" class="col-sm-3 control-label">Street Address</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="forest_street" value="">
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label for="forest_city" class="col-sm-3 control-label">City</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="forest_city" value="">
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label for="forest_state" class="col-sm-3 control-label">State</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="forest_state" value="">
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label for="forest_postal" class="col-sm-3 control-label">Postal Code</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="forest_postal" value="">
                      </div>
                  </div>
                  
                  <div class="form-group">
                        <label for="forest_overview" class="col-sm-3 control-label">Forest Overview</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" id="forest_overview"></textarea>
                        </div>
                  </div>
                  <input type="hidden" name="forest_id" id="forest_id" value="" />
                  <input type="hidden" name="forest_slug" id="forest_slug" value="" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveForestBtn">Save</button>
            </div>
        </div>
    </div>
</div>