<div class="container">
	<h4 id="adminPageHeader">Admin</h4>
	<hr />
	<div class="row">
		<div class="col-md-9 col-lg-8">
			<section id="adminSection"></section>
		</div>
		<div class="col-md-3 col-lg-4">
			<ul class="nav nav-pills nav-stacked" id="adminNavs">
				<li class="active" id="adminHomeBtn"><a href="/#admin">Home</a></li>
				<li><a href="#" id="adminAclBtn">Access Controls</a></li>
				<li><a href="#" id="adminAttributesBtn">Attributes</a></li>
				<li><a href="#" id="adminAttributeGroupsBtn">Attribute Groups</a></li>
				<li><a href="#" id="adminAccountsBtn">Accounts</a></li>
				<li><a href="#" id="adminUploadBtn">Upload File</a></li>
				<li><a href="#" id="adminForestBtn">Forests</a></li>
			</ul>
		</div>
	</div>
</div>