<div class="container">
	<div class="page-header">
		<h1>Account</h1>
	</div>
	<div id="flashMessenger"></div>
	<div class="well well-sm">
	   <div class="btn-group">
		  <button type="button" class="btn btn-default" id="editAccountBtn">Edit Account</button>
		  <button type="button" class="btn btn-default" id="resetPasswordBtn">Change Password</button>
        </div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
            <div class="row">
                <div class="col-md-2 text-primary">Account ID</div>
                <div class="col-md-10"><%= account.get('account_id') %></div>
            </div>
            <div class="row">
                <div class="col-md-2 text-primary">Account Name</div>
                <div class="col-md-10"><%= account.get('account_name') %></div>
            </div>
            <div class="row">
                <div class="col-md-2 text-primary">Account Email</div>
                <div class="col-md-10"><%= account.get('account_email') %></div>
            </div>
        </div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Account</h4>
      </div>
      <div class="modal-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="register_account_name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="register_account_name"
                   value="<%= account.get('account_name') %>">
            </div>
        </div>
        
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="register_account_email"
                    value="<%= account.get('account_email') %>">
            </div>
        </div>
        
      </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveAccountBtn">Save Account</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save Password</button>
      </div>
    </div>
  </div>
</div>