<div class="container">
<div class="jumbotron">
    <h2>Welcome To Siskiyou Trails!</h2>
    <div class="row">
        <div class="col-md-12">

            <p>
                <img class=" img-rounded pull-right"
                    src="/images/siskiyou-trails-1.jpg" alt="Siskiyou Trails"
                    width="360px"> Located in southwestern Oregon and extending into
                California, the Forest ranges from the crest of the Cascades
                Mountains west into the Siskiyou Mountains, nearly to the Pacific
                Ocean. The Forest covers almost 1.8 million acres; portions of the
                Applegate and Illinois River drainage's extend into northern
                California. The Rogue River drains over 75 percent of the Forest's
                land area. The forest contains approximately 400 miles of trails for
                hiking, biking, and horseback riding.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>All trail data on Siskiyou Trails is member contributed. Our site
                is free to use and free to join all we ask is that you contribute
                information about the trails listed on this site.</p>
                
            <div class="well well-sm col-md-6" style="height:380px">
                <p>Register</p>
                 <form class="form-horizontal" role="form">
			        <div class="form-group">
			            <label for="register_account_name" class="col-sm-2 control-label">Name</label>
			            <div class="col-sm-10">
			                <input type="text" class="form-control" id="register_account_name"
			                   value="">
			            </div>
			        </div>
			        
			        <div class="form-group">
			            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
			            <div class="col-sm-10">
			                <input type="email" class="form-control" id="register_account_email"
			                    value="">
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			            <div class="col-sm-10">
			                <input type="password" class="form-control" id="register_account_password">
			            </div>
                     </div>
                     <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Repeat</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="register_account_password">
                        </div>
                     </div>
                     
                     <button type="button" class="btn btn-primary" id="saveAccountBtn">Create Account</button>
			      </form>
            </div>
            <div class=" col-md-6">
             <div class="panel panel-default" style="height:380px">
                 <div class="panel-body">
                <h4>What You Get As A Member Of SiskiYou Trails</h4>
                <ul class="list-group">
                    <li class="list-group-item">All Access To Our Trails <i class="fa fa-check pull-right text-success"></i></li>
                    <li class="list-group-item">Review Trails, Contribute Descriptions,
                        Images And Comments <i class="fa fa-check pull-right text-success"></i></li>
                    <li class="list-group-item">Save Favorite Trails And Plan Trips <i class="fa fa-check pull-right text-success"></i></li>
                    <li class="list-group-item">View & Print Topo Maps Of Trails <i class="fa fa-check pull-right text-success"></i></li>
                    <li class="list-group-item">Create And Save Your Own Topo Maps <i class="fa fa-check pull-right text-success"></i></li>
                    <li class="list-group-item">Create Groups And Meet Ups, Plan Events
                        And Goup Hikes <i class="fa fa-check pull-right text-success"></i></li>
                    <li class="list-group-item">Download KML and GPX Files Of Trails <i class="fa fa-check pull-right text-success"></i></li>
                </ul>
                </div>
                </div>
            </div>

        </div>
        <span class="text-muted">By clicking Register Now you agree to the
            following <a data-toggle="modal" data-target="#tosModal">tearms and
                conditions</a>.
        </span>
    </div>
</div>

<div class="row">

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h4>Trail Finder</h4>
                <p>Search thousands of trails & get personal recommendations</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h4>Member Reviews</h4>
                <p>Explore photos & reviews from members like you</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
              <div class="caption">
                <h4>Trail Journal</h4>
                <p>Save the trails you've done and the trails you want to do</p>
             </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
              <div class="caption">
                <h4>Local Events</h4>
                <p>Make new friends by joining organized events</p>
            </div>
        </div>
    </div>
</div>

