<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" method="post" action="/forestl/index/index/">
            <div class="form-group">
                <label for="forestl_name">Forest Name</label> <input type="text"
                    class="form-control" name="place_name" id="place_name"
                    placeholder="" value="">
            </div>
            <div class="form-group">
                <label for="forestl_type">Type</label> <select class="form-control"
                    id="place_type" name="place_type">
                </select>
            </div>
            
            
            
            
            <div class="form-group">
                <label>Rating</label> <br /> <input type="radio"
                    name="place_review_rate" id="place_review_rate-1" value="1"
                    class="star {half:true}" data-size="col-md-3" data-toggle="rating"> <input
                    type="radio" name="place_review_rate" id="place_review_rate-2"
                    value="2" class="star {half:true}" data-size="col-md-3"> <input type="radio"
                    name="place_review_rate" id="place_review_rate-3" value="3"
                    class="star {half:true}" data-size="col-md-3" data-toggle="rating"> <input
                    type="radio" name="place_review_rate" id="place_review_rate-4"
                    value="4" class="star {half:true}" data-size="col-md-3"
                    data-toggle="rating"> <input type="radio"
                    name="place_review_rate" id="forestl_review_rate-5" value="5"
                    class="star {half:true}" data-size="col-md-3" data-toggle="rating"> <br />
            </div>
            <div class="form-group">
                <button  class="btn btn-primary">
                    <strong>Search</strong>
                </button>
            </div>
        </form>
    </div>
</div>
