<div class="footer">
	<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">© 2012 - <?php echo date("Y")?> Siskiyou Trails, Inc. All Rights Reserved | <a
                            href="">Privacy Policy</a> | <a data-toggle="modal" data-target="#tosModal">Terms of Service</a> <span
                            class="pull-right">Brought to you by <a
                            href="http://www.pacificnm.com" target="new">Pacific Network
                                Management</a></span>
                    </p>
                </div>
            </div>

        </div>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="tosModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Tearms and Conditions</h4>
            </div>
            <div class="modal-body"><%= tos %></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>