<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Browse Places</strong> <span class="badge pull-right">
            10
        </span>
    </div>
    
    <div class="panel-body">
        <div class="alert alert-info">
            <p>Did not find any places</p>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="col-md-2 col-lg-2">
                        Image
                    </td>
                    <td><a href="#places/place_slug"
                        data-toggle="tooltip" data-placement="top" title="View Place"><strong>
                                Place Name
                        </strong></a><br /> <span class="text-muted">
                            City State County
                    </span></td>
                    <td></td>
                    <td>place_type</td>
                    <td>place_rate</td>
                </tr>
                
            </tbody>
        </table>
        Pagination
    </div>
    
</div>