<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#reviews" data-toggle="tab"><strong>Reviews</strong></a></li>
		<li><a href="#notes" data-toggle="tab"><strong>Notes</strong></a></li>
		<li><a href="#event" data-toggle="tab"><strong>Events</strong></a></li>
		<li><a href="#resource" data-toggle="tab"><strong>Resources</strong></a></li>
	</ul>


	<div class="tab-content">

		<!-- Reviews -->
		<div class="tab-pane fade in active" id="reviews">
			<div style="padding: 18px 18px 18px 18px;">
				<div class="panel panel-default">
					<div class="panel-body" id="placeTabReviewBody">
						<div class="alert alert-warning">There are no reviews for
							this place. Be the first one to leave a review and score 2
							points.</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Notes -->
		<div class="tab-pane fade" id="notes">
			<div style="padding: 18px 18px 18px 18px;">
				<div class="panel panel-default">
					<div class="panel-body" id="placeTabNotesBody">
						<div class="alert alert-warning">There are no notes for this
							place.</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Events Tab -->
		<div class="tab-pane fade" id="event">
			<div style="padding: 18px 18px 18px 18px;">
				<div class="panel panel-default">
					<div class="panel-body" id="placeTabEventsBody">
						<div class="alert alert-warning">There are no events for
							this place.</div>

					</div>
				</div>
			</div>
		</div>


		<div class="tab-pane fade" id="resource">
			<div style="padding: 18px 18px 18px 18px;">
				<div class="panel panel-default">
					<div class="panel-body" id="placeTabResourcesBody">
						<div class="alert alert-warning">There are no resources for
							this place.</div>
					</div>
				</div>
			</div>
		</div>

	</div>




</div>
